@model Nop.Plugin.Widgets.BasicPlugins.Models.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" />
    @*<link href="~/Plugins/Widgets.BasicPlugins/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">*@
    @*    <link href="~/Plugins/Widgets.BasicPlugins/Content/rte_theme_default.css" rel="stylesheet" />
    *@
    <style>
        /* Styling for the accordion */
        .accordion {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .accordion-header {
            background-color: #f1f1f1;
            padding: 10px;
            cursor: pointer;
        }

            .accordion-header:hover {
                background-color: #ddd;
            }

            .accordion-header.active {
                background-color: #ccc;
            }

        .accordion-content {
            padding: 10px;
            /* display: none;*/
        }

            .accordion-content.show {
                display: block;
            }

        .form-group {
            /* display: block !important;*/
            width: 100%;
        }

        .visuallyhidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .tox-statusbar__branding {
            display: none;
        }

        .required:after {
            content: " *";
            color: red;
        }

        .resetbtns {
            display: none;
        }
    </style>

</head>
<body>
    <div class="container" style="padding: 10px; max-width:1600px;">

        @using (Html.BeginForm("EditProduct", "DemoProduct", FormMethod.Post, new { }))
        {

            <div class="row">
                <div class="col-md-8">
                    <h2>Edit Product - @Model.ProductName</h2>
                </div>

                <div class="col-md-4">
                    <a href='@Url.Action("ProductList", "DemoProduct")' class="btn btn-primary text-center" style="float:right; margin-left:15px;">Back to Product List</a>
                    <button type="submit" class="btn btn-primary text-center" style="float:right;">Save</button>
                </div>
            </div>
            <div class="form-group">
                <div style="text-align:center;">
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <label style="color:red;">@ViewBag.SuccessMessage</label>
                    }
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header" onclick="toggleAccordion(event)">Product</div>
                <div class="accordion-content">
                    <div class="container-fluid">
                    </div>
                    @Html.HiddenFor(m => m.ProductID, new {})
                    @Html.HiddenFor(m => m.IsActive, new {})
                    @Html.HiddenFor(m => m.CreatedDate, new {})
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductName, new { @class = "col-md-3 required" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.ProductName, new { @id = "ProductName", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ShortDescription, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.ShortDescription, new { @id = "ShortDescription", @class = "form-control",@rows="2" })
                                @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullDescription, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.FullDescription, new { @id = "FullDescription", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FullDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SKU, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.SKU, new { @id = "SKU", @class = "form-control" ,@maxlength="20"})
                                @Html.ValidationMessageFor(m => m.SKU, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CategoryID, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.ListBoxFor(model => model.CategoryID, Model.Categories, new {@class="form-control select2 select2-hidden-accessible" , @style="width: 100%;" })
                                @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsPublished)
                                @Html.LabelFor(m => m.IsPublished)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header" onclick="toggleAccordion(event)">Price</div>
                <div class="accordion-content">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Price, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Price, new { @id = "Price", @class = "form-control" ,@type="number",@min="0",@onkeydown="javascript: return event.keyCode == 69 ? false : true"})
                                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                                <small style="color:red;"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsTextexempt)
                                @Html.LabelFor(m => m.IsTextexempt)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="drptaxcategoryid">
                            @Html.LabelFor(m => m.Taxcategory, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.Taxcategory,Model.TaxCategories,new{@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Taxcategory, "", new { @class = "text-danger" })
                                <small style="color:red;"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header" onclick="toggleAccordion(event)">Shipping</div>
                <div class="accordion-content">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsShippingEnable)
                                @Html.LabelFor(m => m.IsShippingEnable)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header" onclick="toggleAccordion(event)">Inventory</div>
                <div class="accordion-content">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.InventoryMethod, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.InventoryMethod,Model.InventoryMethods,new{@class = "form-control",@id="InventoryMethod",@onchange="InventoryChange();"})
                                @Html.ValidationMessageFor(m => m.InventoryMethod, "", new { @class = "text-danger" })
                                <small style="color:red;"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="stockID" style="display: none;">
                            @Html.LabelFor(m => m.StockQuantity, new { @class = "col-md-3" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.StockQuantity, new { @id = "StockQuantity", @class = "form-control" ,@type="number",@min="0",@onkeypress="return onlyNumberKey(event)"})
                                @Html.ValidationMessageFor(m => m.StockQuantity, "", new { @class = "text-danger" })
                                <small style="color:red;"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="accordion">
            <div class="accordion-header" onclick="toggleAccordion(event)">Pictures</div>
            <div class="accordion-content">
                <table class="table table-bordered table-hover display text-center" id="Imagegrid">
                    <thead>
                        <tr>

                            <th style="text-align:center;">Picture</th>
                            <th style="text-align:center;">Display order</th>
                            <th style="text-align:center;">Alt</th>
                            <th style="text-align:center;">Title</th>
                            <th style="text-align:center;">Delete</th>

                        </tr>
                    </thead>
                    <tbody id="Imagedata">
                        @if (Model.UploadFileModel != null)
                        {
                            @foreach (var item in Model.UploadFileModel)
                            {
                                <tr>
                                    <td><img src="@item.sFile" style="height: 100px; width: 150px;" /></td>
                                    <td>@item.Displayorder</td>
                                    <td>@item.AltImage</td>
                                    <td>@item.Title</td>
                                    <td><button type="button" class="btn" onclick="DeleteImage(@item.ImageID);">Delete</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div id="ajaxresult">
                    <div>
                        <h4>Add a new picture</h4>
                        <div class="col-md-3">Picture</div>
                        <div class="col-md-12">
                            <div id="pictureimage">
                                <img src="https://cafe.shopfast.net/images/thumbs/default-image_100.png" id="imgsrc" style="height: 100px; width: 150px;">
                                <input name="uploadimage" type="file" class="btn btn-success" accept="image/*" id="imageInput" @* onchange="document.getElementById('imgsrc').src = window.URL.createObjectURL(this.files[0])"*@>

                            </div>

                        </div>
                        <div class="col-md-3">Alt</div>
                        <div class="col-md-12">
                            <input type="text" name="altimage" id="altimage" class="form-control" maxlength="20" />
                        </div>
                        <br>
                        <div class="col-md-3">Title</div>
                        <div class="col-md-12">
                            <input type="text" name="Title" id="Title" class="form-control" maxlength="20" />
                        </div>
                        <br>
                        <div class="col-md-3">Display Order</div>
                        <div class="col-md-6">
                            <input type="number" name="displayorder" id="displayorder" class="form-control" min="0" maxlength="3" onkeypress="return onlyNumberKey(event)" />
                        </div>
                        <br>

                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="button" id="addProductPicture" class="btn btn-primary" onclick="AjaxFormSubmit()">Add product picture</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5-stable/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

    <script>
        function readURL() {
            var $input = $(this);
            var $newinput = $(this).parent().parent().parent().find('#imgsrc');
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    reset($newinput.next('.delbtn'), true);
                    $newinput.attr('src', e.target.result).show();
                    $newinput.after('<button type="button" class="delbtn removebtn" onclick="reset()"><i class="icon-remove"></i></button>');
                }
                reader.readAsDataURL(this.files[0]);
            }
        }
        $("#imageInput").change(readURL);
        //$(".delbtn").on('click', function (e) {
        //    alert(1);
        //    reset($(this));
        //});

        function reset() {
            var elm = $("#imageInput").val();
            if (elm && elm.length > 0) {
                var $input = elm;
                $('#imgsrc').attr('src', 'https://cafe.shopfast.net/images/thumbs/default-image_100.png');

                $($input).parent().parent().parent().find('input#imageInput ').val("");
               // $(".removebtn").addClass("resetbtns");
                //input.fileUpload and input#uploadre both need to empty values for particular div


            }
        }

        tinymce.init({
            selector: '#FullDescription',
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
                'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
                'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],

            height: 400

        });
        // JavaScript to toggle the accordion
        function toggleAccordion(event) {
            var accordionHeader = event.target;
            var accordionContent = accordionHeader.nextElementSibling;
            accordionHeader.classList.toggle("active");
            if (accordionContent.style.display === "block") {
                accordionContent.style.display = "none";
            } else {
                accordionContent.style.display = "block";
            }
        }
        $('.select2').select2({
            closeOnSelect: false
        });
        $(document).ready(function () {
            if ($(this).is(":checked")) {
                $("#drptaxcategoryid").hide();
            } else {
                $("#drptaxcategoryid").show();
            }
            var InventoryMethod = $('#InventoryMethod').val();

            if (InventoryMethod == 1)
                $("#stockID").show();
            else
                $("#stockID").hide();

            $('#Imagegrid').DataTable({
                pagingType: 'full_numbers',
                searching: false,
                sorting: false,
                columnDefs: [{
                    targets: [0, 4], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }]
            });
        });
        $(function () {
            $("#IsTextexempt").click(function () {
                if ($(this).is(":checked")) {
                    $("#drptaxcategoryid").hide();
                } else {
                    $("#drptaxcategoryid").show();
                }
            });
        });
        function InventoryChange() {
            var InventoryMethod = $('#InventoryMethod').val();

            if (InventoryMethod == 1)
                $("#stockID").show();
            else
                $("#stockID").hide();
        }
        function onlyNumberKey(evt) {
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
        function AjaxFormSubmit() {

            var file = $('#imageInput')[0].files[0];
            var altimage = $("#altimage").val();
            var title = $("#Title").val();
            var displayorder = $("#displayorder").val();
            var productID = $("#ProductID").val();

            var files = $('#imageInput').val();
            console.log(files);
            var formData = new FormData()
            formData.append("File", $('#imageInput')[0].files[0]);
            formData.append("AltImage", altimage);
            formData.append("Title", title);
            formData.append("Displayorder", displayorder);
            formData.append("ProductID", productID);
            if (files != "") {
                SubmitForm(formData);
            }
            else {
                alert("Please upload file.");
            }
        }

        function SubmitForm(FormData) {
            $.ajax({
                type: 'POST',
                url: '/Admin/DemoProduct/UploadImage',
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: FormData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status == "success") {
                        //var table = $('#Imagegrid').DataTable();
                        //table.clear().draw();
                        if ($.fn.DataTable.isDataTable('#Imagegrid')) {
                            $('#Imagegrid').DataTable().destroy();
                        }

                        $('#Imagegrid tbody').empty();

                        //table.fnClearTable();
                        var tr;
                        //Append each row to html table
                        for (var i = 0; i < response.data.length; i++) {
                            console.log(response.data);
                            tr = $('<tr/>');
                            tr.append("<td><img src='" + response.data[i].sFile + "' style='height: 100px; width: 150px;'></img></td>");
                            tr.append("<td>" + response.data[i].Displayorder + "</td>");
                            tr.append("<td>" + response.data[i].AltImage + "</td>");
                            tr.append("<td>" + response.data[i].Title + "</td>");
                            tr.append("<td><button type='button' class='btn' onclick='DeleteImage(" + response.data[i].ImageID + ");'>Delete</button></td>");
                            $('#Imagegrid').append(tr);

                        }
                        $("#imgsrc").attr('src', 'https://cafe.shopfast.net/images/thumbs/default-image_100.png');
                        $('#imageInput').val('');
                        $("#altimage").val("");
                        $("#Title").val("");
                        $("#displayorder").val("");
                        $('#Imagegrid').DataTable({
                            pagingType: 'full_numbers',
                            searching: false,
                            sorting: false, columnDefs: [{
                                targets: [0, 4], // column index (start from 0)
                                orderable: false, // set orderable false for selected columns
                            }]
                        });

                    }
                },
                error: function (err) {
                    alert("Error occurs" + err.responseText);
                }
            });
        }
        function DeleteImage(id) {
            console.log(id);
            var productID = $("#ProductID").val();
            $.ajax({
                type: 'Get',
                url: "/Admin/DemoProduct/DeleteImage?id=" + id + "&ProductID=" + productID + "",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                dataType: 'json',
                success: function (response) {
                    if (response.status == "success") {
                        //var table = $('#Imagegrid').DataTable();
                        //table.clear().draw();
                        if ($.fn.DataTable.isDataTable('#Imagegrid')) {
                            $('#Imagegrid').DataTable().destroy();
                        }

                        $('#Imagegrid tbody').empty();

                        //table.fnClearTable();
                        var tr;
                        //Append each row to html table
                        for (var i = 0; i < response.data.length; i++) {
                            console.log(response.data);
                            tr = $('<tr/>');
                            tr.append("<td><img src='" + response.data[i].sFile + "' style='height: 100px; width: 150px;'></img></td>");
                            tr.append("<td>" + response.data[i].Displayorder + "</td>");
                            tr.append("<td>" + response.data[i].AltImage + "</td>");
                            tr.append("<td>" + response.data[i].Title + "</td>");
                            tr.append("<td><button type='button' class='btn' onclick='DeleteImage(" + response.data[i].ImageID + ");'>Delete</button></td>");

                            $('#Imagegrid').append(tr);

                        }
                        $("#imgsrc").attr('src', 'https://cafe.shopfast.net/images/thumbs/default-image_100.png');
                        $('#imageInput').val('');
                        $("#altimage").val("");
                        $("#Title").val("");
                        $("#displayorder").val("");
                        $('#Imagegrid').DataTable({
                            pagingType: 'full_numbers',
                            searching: false,
                            sorting: false, columnDefs: [{
                                targets: [0, 4], // column index (start from 0)
                                orderable: false, // set orderable false for selected columns
                            }]
                        });

                    }
                },
                error: function (err) {
                    alert("Error occurs" + err.responseText);
                }
            });
        }
    </script>
</body>
</html>